<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>8 May 26 at 08:36</string>
      <string>glyphs.8 M_ay 26 at 08_36</string>
    </array>
    <array>
      <string>8 May 26 at 07:33</string>
      <string>glyphs.8 M_ay 26 at 07_33</string>
    </array>
    <array>
      <string>2 May 26 at 12:17</string>
      <string>glyphs.2 M_ay 26 at 12_17</string>
    </array>
    <array>
      <string>7 May 26 at 19:08</string>
      <string>glyphs.7 M_ay 26 at 19_08</string>
    </array>
    <array>
      <string>2 May 26 at 11:25</string>
      <string>glyphs.2 M_ay 26 at 11_25</string>
    </array>
    <array>
      <string>2 May 26 at 11:27</string>
      <string>glyphs.2 M_ay 26 at 11_27</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>7 May 26 at 19:13</string>
      <string>glyphs.7 M_ay 26 at 19_13</string>
    </array>
    <array>
      <string>7 May 26 at 19:13/background</string>
      <string>glyphs.7 M_ay 26 at 19_13_background</string>
    </array>
    <array>
      <string>8 May 26 at 08:38</string>
      <string>glyphs.8 M_ay 26 at 08_38</string>
    </array>
    <array>
      <string>8 May 26 at 08:32</string>
      <string>glyphs.8 M_ay 26 at 08_32</string>
    </array>
    <array>
      <string>2 May 26 at 11:56</string>
      <string>glyphs.2 M_ay 26 at 11_56</string>
    </array>
    <array>
      <string>30 Apr 26 at 08:05</string>
      <string>glyphs.30 A_pr 26 at 08_05</string>
    </array>
    <array>
      <string>29 Apr 26 at 11:11</string>
      <string>glyphs.29 A_pr 26 at 11_11</string>
    </array>
    <array>
      <string>7 May 26 at 19:16</string>
      <string>glyphs.7 M_ay 26 at 19_16</string>
    </array>
    <array>
      <string>8 May 26 at 07:30</string>
      <string>glyphs.8 M_ay 26 at 07_30</string>
    </array>
    <array>
      <string>8 May 26 at 07:51</string>
      <string>glyphs.8 M_ay 26 at 07_51</string>
    </array>
    <array>
      <string>1 May 26 at 19:35</string>
      <string>glyphs.1 M_ay 26 at 19_35</string>
    </array>
    <array>
      <string>2 May 26 at 15:08</string>
      <string>glyphs.2 M_ay 26 at 15_08</string>
    </array>
    <array>
      <string>8 May 26 at 07:45</string>
      <string>glyphs.8 M_ay 26 at 07_45</string>
    </array>
    <array>
      <string>1 May 26 at 13:18</string>
      <string>glyphs.1 M_ay 26 at 13_18</string>
    </array>
    <array>
      <string>8 May 26 at 08:29</string>
      <string>glyphs.8 M_ay 26 at 08_29</string>
    </array>
    <array>
      <string>8 May 26 at 08:04</string>
      <string>glyphs.8 M_ay 26 at 08_04</string>
    </array>
    <array>
      <string>2 May 26 at 15:24</string>
      <string>glyphs.2 M_ay 26 at 15_24</string>
    </array>
    <array>
      <string>2 May 26 at 11:17</string>
      <string>glyphs.2 M_ay 26 at 11_17</string>
    </array>
    <array>
      <string>2 May 26 at 11:17/background</string>
      <string>glyphs.2 M_ay 26 at 11_17_background</string>
    </array>
    <array>
      <string>1 May 26 at 14:13</string>
      <string>glyphs.1 M_ay 26 at 14_13</string>
    </array>
    <array>
      <string>1 May 26 at 14:13/background</string>
      <string>glyphs.1 M_ay 26 at 14_13_background</string>
    </array>
    <array>
      <string>14 May 26 at 09:25</string>
      <string>glyphs.14 M_ay 26 at 09_25</string>
    </array>
    <array>
      <string>20 Apr 26 at 09:46</string>
      <string>glyphs.20 A_pr 26 at 09_46</string>
    </array>
    <array>
      <string>3 May 26 at 18:28</string>
      <string>glyphs.3 M_ay 26 at 18_28</string>
    </array>
    <array>
      <string>3 May 26 at 18:28/background</string>
      <string>glyphs.3 M_ay 26 at 18_28_background</string>
    </array>
    <array>
      <string>2 May 26 at 13:53</string>
      <string>glyphs.2 M_ay 26 at 13_53</string>
    </array>
    <array>
      <string>7 May 26 at 18:41</string>
      <string>glyphs.7 M_ay 26 at 18_41</string>
    </array>
    <array>
      <string>8 May 26 at 08:42</string>
      <string>glyphs.8 M_ay 26 at 08_42</string>
    </array>
    <array>
      <string>20 Apr 26 at 09:49</string>
      <string>glyphs.20 A_pr 26 at 09_49</string>
    </array>
    <array>
      <string>29 Apr 26 at 10:59</string>
      <string>glyphs.29 A_pr 26 at 10_59</string>
    </array>
    <array>
      <string>2 May 26 at 15:13</string>
      <string>glyphs.2 M_ay 26 at 15_13</string>
    </array>
    <array>
      <string>8 May 26 at 08:10</string>
      <string>glyphs.8 M_ay 26 at 08_10</string>
    </array>
    <array>
      <string>2 May 26 at 14:04</string>
      <string>glyphs.2 M_ay 26 at 14_04</string>
    </array>
    <array>
      <string>8 May 26 at 09:06</string>
      <string>glyphs.8 M_ay 26 at 09_06</string>
    </array>
    <array>
      <string>8 May 26 at 08:49</string>
      <string>glyphs.8 M_ay 26 at 08_49</string>
    </array>
    <array>
      <string>8 May 26 at 08:53</string>
      <string>glyphs.8 M_ay 26 at 08_53</string>
    </array>
    <array>
      <string>8 May 26 at 08:56</string>
      <string>glyphs.8 M_ay 26 at 08_56</string>
    </array>
  </array>
</plist>
