<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>1 May 26 at 15:10</string>
      <string>glyphs.1 M_ay 26 at 15_10</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>4 Apr 26 at 10:29</string>
      <string>glyphs.4 A_pr 26 at 10_29</string>
    </array>
    <array>
      <string>4 Apr 26 at 10:29/background</string>
      <string>glyphs.4 A_pr 26 at 10_29_background</string>
    </array>
    <array>
      <string>9 Jun 26 at 11:36</string>
      <string>glyphs.9 J_un 26 at 11_36</string>
    </array>
    <array>
      <string>24 Mar 26 15:29</string>
      <string>glyphs.24 M_ar 26 15_29</string>
    </array>
    <array>
      <string>1 Apr 26 at 10:25</string>
      <string>glyphs.1 A_pr 26 at 10_25</string>
    </array>
    <array>
      <string>1 Apr 26 at 10:25/background</string>
      <string>glyphs.1 A_pr 26 at 10_25_background</string>
    </array>
    <array>
      <string>1 Apr 26 at 13:04</string>
      <string>glyphs.1 A_pr 26 at 13_04</string>
    </array>
    <array>
      <string>17 Apr 26 at 14:32</string>
      <string>glyphs.17 A_pr 26 at 14_32</string>
    </array>
    <array>
      <string>23 Mar 26 15:51</string>
      <string>glyphs.23 M_ar 26 15_51</string>
    </array>
  </array>
</plist>
