<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>M</string>
      <string>V</string>
      <string>W</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>Atilde</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>Germandbls</string>
      <string>R.ss01</string>
      <string>Racute.ss01</string>
      <string>Rcaron.ss01</string>
      <string>Rcommaaccent.ss01</string>
      <string>Rdblgrave.ss01</string>
      <string>Rdotbelow.ss01</string>
      <string>Rinvertedbreve.ss01</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>C.001</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Cacute.loclPLK</string>
      <string>cedi</string>
      <string>colonsign</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>F</string>
      <string>L</string>
      <string>AE</string>
      <string>AEacute</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>OE</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>G_tilde.loclGUA</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>N</string>
      <string>M.001</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Nhookleft</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>Nacute.loclPLK</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>D</string>
      <string>O</string>
      <string>Q</string>
      <string>U</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Eth</string>
      <string>Schwa</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildemacron</string>
      <string>Oacute.loclPLK</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>R</string>
      <string>Thorn</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Sacute.loclPLK</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>IJ</string>
      <string>Jacute</string>
      <string>Jcircumflex</string>
      <string>LJ</string>
      <string>NJ</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udieresisacute</string>
      <string>Udieresiscaron</string>
      <string>Udieresisgrave</string>
      <string>Udieresismacron</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Y.loclGUA</string>
      <string>Yacute.loclGUA</string>
      <string>Ycircumflex.loclGUA</string>
      <string>Ydieresis.loclGUA</string>
      <string>Ydotbelow.loclGUA</string>
      <string>Ygrave.loclGUA</string>
      <string>Yhookabove.loclGUA</string>
      <string>Ymacron.loclGUA</string>
      <string>Ytilde.loclGUA</string>
      <string>A.ss01</string>
      <string>Aacute.ss01</string>
      <string>Abreve.ss01</string>
      <string>Abreveacute.ss01</string>
      <string>Abrevedotbelow.ss01</string>
      <string>Abrevegrave.ss01</string>
      <string>Abrevehookabove.ss01</string>
      <string>Abrevetilde.ss01</string>
      <string>Acaron.ss01</string>
      <string>Acircumflex.ss01</string>
      <string>Acircumflexacute.ss01</string>
      <string>Acircumflexdotbelow.ss01</string>
      <string>Acircumflexgrave.ss01</string>
      <string>Acircumflexhookabove.ss01</string>
      <string>Acircumflextilde.ss01</string>
      <string>Adblgrave.ss01</string>
      <string>Adieresis.ss01</string>
      <string>Adotbelow.ss01</string>
      <string>Agrave.ss01</string>
      <string>Ahookabove.ss01</string>
      <string>Ainvertedbreve.ss01</string>
      <string>Amacron.ss01</string>
      <string>Aogonek.ss01</string>
      <string>Aring.ss01</string>
      <string>Aringacute.ss01</string>
      <string>Atilde.ss01</string>
      <string>G.ss01</string>
      <string>Gacute.ss01</string>
      <string>Gbreve.ss01</string>
      <string>Gcaron.ss01</string>
      <string>Gcircumflex.ss01</string>
      <string>Gcommaaccent.ss01</string>
      <string>Gdotaccent.ss01</string>
      <string>Gtilde.loclGUA.ss01</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>K</string>
      <string>X.001</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Y.001</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>yen</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Z.001</string>
      <string>DZ</string>
      <string>DZcaron</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Zacute.loclPLK</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>a.001</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>c.001</string>
      <string>c.002</string>
      <string>c.003</string>
      <string>c.004</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>cacute.loclPLK</string>
    </array>
    <key>public.kern1.dcaron</key>
    <array>
      <string>dcaron</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>e.001</string>
      <string>ae</string>
      <string>aeacute</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>oe</string>
    </array>
    <key>public.kern1.exclam</key>
    <array>
      <string>exclamdouble</string>
      <string>exclam.case</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>J</string>
      <string>f</string>
      <string>jdotless</string>
      <string>t</string>
      <string>f_f</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>Gacute</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
    </array>
    <key>public.kern1.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>softhyphen</string>
      <string>hyphentwo</string>
    </array>
    <key>public.kern1.j</key>
    <array>
      <string>Lj</string>
      <string>Nj</string>
      <string>j</string>
      <string>ij</string>
      <string>jacute</string>
      <string>jcircumflex</string>
      <string>lj</string>
      <string>nj</string>
      <string>eng</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>d</string>
      <string>l</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>eth</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lslash</string>
      <string>longs</string>
      <string>f_f_l</string>
      <string>fl</string>
    </array>
    <key>public.kern1.lcaron</key>
    <array>
      <string>lcaron</string>
    </array>
    <key>public.kern1.n</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>r</string>
      <string>n.001</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>nhookleft</string>
      <string>ntilde</string>
      <string>nacute.loclPLK</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>b</string>
      <string>o</string>
      <string>p</string>
      <string>o.002</string>
      <string>p.001</string>
      <string>schwa</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildemacron</string>
      <string>thorn</string>
      <string>germandbls</string>
      <string>oacute.loclPLK</string>
      <string>o.001</string>
    </array>
    <key>public.kern1.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
      <string>question.case</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>commaturnedmod</string>
    </array>
    <key>public.kern1.quotereversed</key>
    <array>
      <string>commareversedmod</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern1.quotesinglbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern1.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>s.001</string>
      <string>s.002</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>sacute.loclPLK</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>tbar</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
    </array>
    <key>public.kern1.tcaron</key>
    <array>
      <string>tcaron</string>
    </array>
    <key>public.kern1.u</key>
    <array>
      <string>g</string>
      <string>i</string>
      <string>idotless</string>
      <string>q</string>
      <string>u</string>
      <string>y</string>
      <string>q.001</string>
      <string>gacute</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udieresisacute</string>
      <string>udieresiscaron</string>
      <string>udieresisgrave</string>
      <string>udieresismacron</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
      <string>g_tilde.loclGUA</string>
      <string>f_f_i</string>
      <string>fi</string>
      <string>mu</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
      <string>underscoredbl</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>v.001</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y.loclGUA</string>
      <string>yacute.loclGUA</string>
      <string>ycircumflex.loclGUA</string>
      <string>ydieresis.loclGUA</string>
      <string>ydotbelow.loclGUA</string>
      <string>ygrave.loclGUA</string>
      <string>yhookabove.loclGUA</string>
      <string>ymacron.loclGUA</string>
      <string>ytilde.loclGUA</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>X</string>
      <string>k</string>
      <string>x</string>
      <string>kcommaaccent</string>
      <string>kgreenlandic</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>Dz</string>
      <string>Dzcaron</string>
      <string>z</string>
      <string>dz</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zacute.loclPLK</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>M</string>
      <string>V</string>
      <string>W</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Abreveacute</string>
      <string>Abrevedotbelow</string>
      <string>Abrevegrave</string>
      <string>Abrevehookabove</string>
      <string>Abrevetilde</string>
      <string>Acaron</string>
      <string>Acircumflex</string>
      <string>Acircumflexacute</string>
      <string>Acircumflexdotbelow</string>
      <string>Acircumflexgrave</string>
      <string>Acircumflexhookabove</string>
      <string>Acircumflextilde</string>
      <string>Adblgrave</string>
      <string>Adieresis</string>
      <string>Adotbelow</string>
      <string>Agrave</string>
      <string>Ahookabove</string>
      <string>Ainvertedbreve</string>
      <string>Amacron</string>
      <string>Aogonek</string>
      <string>Aringacute</string>
      <string>Atilde</string>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.H</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>M.001</string>
      <string>DZ</string>
      <string>DZcaron</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Ddotbelow</string>
      <string>Dz</string>
      <string>Dzcaron</string>
      <string>Eth</string>
      <string>Eacute</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Ecircumflex</string>
      <string>Ecircumflexacute</string>
      <string>Ecircumflexdotbelow</string>
      <string>Ecircumflexgrave</string>
      <string>Ecircumflexhookabove</string>
      <string>Ecircumflextilde</string>
      <string>Edblgrave</string>
      <string>Edieresis</string>
      <string>Edotaccent</string>
      <string>Edotbelow</string>
      <string>Egrave</string>
      <string>Ehookabove</string>
      <string>Einvertedbreve</string>
      <string>Emacron</string>
      <string>Eogonek</string>
      <string>Etilde</string>
      <string>Hbar</string>
      <string>Hcircumflex</string>
      <string>Hdotbelow</string>
      <string>IJ</string>
      <string>Iacute</string>
      <string>Ibreve</string>
      <string>Icaron</string>
      <string>Icircumflex</string>
      <string>Idblgrave</string>
      <string>Idieresis</string>
      <string>Idotaccent</string>
      <string>Idotbelow</string>
      <string>Igrave</string>
      <string>Ihookabove</string>
      <string>Iinvertedbreve</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Itilde</string>
      <string>Jacute</string>
      <string>Kcommaaccent</string>
      <string>LJ</string>
      <string>Lacute</string>
      <string>Lcaron</string>
      <string>Lcommaaccent</string>
      <string>Ldot</string>
      <string>Lj</string>
      <string>Lslash</string>
      <string>NJ</string>
      <string>Nacute</string>
      <string>Ncaron</string>
      <string>Ncommaaccent</string>
      <string>Ndotaccent</string>
      <string>Nj</string>
      <string>Ntilde</string>
      <string>Eng</string>
      <string>Thorn</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Rcommaaccent</string>
      <string>Rdblgrave</string>
      <string>Rdotbelow</string>
      <string>Rinvertedbreve</string>
      <string>Germandbls</string>
      <string>Nacute.loclPLK</string>
      <string>R.ss01</string>
      <string>Racute.ss01</string>
      <string>Rcaron.ss01</string>
      <string>Rcommaaccent.ss01</string>
      <string>Rdblgrave.ss01</string>
      <string>Rdotbelow.ss01</string>
      <string>Rinvertedbreve.ss01</string>
      <string>numero</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>Jcircumflex</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
      <string>Q</string>
      <string>U</string>
      <string>C.001</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Schwa</string>
      <string>Gacute</string>
      <string>Gbreve</string>
      <string>Gcaron</string>
      <string>Gcircumflex</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocaron</string>
      <string>Ocircumflex</string>
      <string>Ocircumflexacute</string>
      <string>Ocircumflexdotbelow</string>
      <string>Ocircumflexgrave</string>
      <string>Ocircumflexhookabove</string>
      <string>Ocircumflextilde</string>
      <string>Odblgrave</string>
      <string>Odieresis</string>
      <string>Odieresismacron</string>
      <string>Odotaccentmacron</string>
      <string>Odotbelow</string>
      <string>Ograve</string>
      <string>Ohookabove</string>
      <string>Ohorn</string>
      <string>Ohornacute</string>
      <string>Ohorndotbelow</string>
      <string>Ohorngrave</string>
      <string>Ohornhookabove</string>
      <string>Ohorntilde</string>
      <string>Ohungarumlaut</string>
      <string>Oinvertedbreve</string>
      <string>Omacron</string>
      <string>Oogonek</string>
      <string>Oslash</string>
      <string>Oslashacute</string>
      <string>Otilde</string>
      <string>Otildemacron</string>
      <string>OE</string>
      <string>G_tilde.loclGUA</string>
      <string>Cacute.loclPLK</string>
      <string>Oacute.loclPLK</string>
      <string>G.ss01</string>
      <string>Gacute.ss01</string>
      <string>Gbreve.ss01</string>
      <string>Gcaron.ss01</string>
      <string>Gcircumflex.ss01</string>
      <string>Gcommaaccent.ss01</string>
      <string>Gdotaccent.ss01</string>
      <string>cedi</string>
      <string>colonsign</string>
      <string>Gtilde.loclGUA.ss01</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scaron</string>
      <string>Scedilla</string>
      <string>Scircumflex</string>
      <string>Scommaaccent</string>
      <string>Sdotbelow</string>
      <string>Sacute.loclPLK</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tbar</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tdotbelow</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucaron</string>
      <string>Ucircumflex</string>
      <string>Udblgrave</string>
      <string>Udieresis</string>
      <string>Udieresisacute</string>
      <string>Udieresiscaron</string>
      <string>Udieresisgrave</string>
      <string>Udieresismacron</string>
      <string>Udotbelow</string>
      <string>Ugrave</string>
      <string>Uhookabove</string>
      <string>Uhorn</string>
      <string>Uhornacute</string>
      <string>Uhorndotbelow</string>
      <string>Uhorngrave</string>
      <string>Uhornhookabove</string>
      <string>Uhorntilde</string>
      <string>Uhungarumlaut</string>
      <string>Uinvertedbreve</string>
      <string>Umacron</string>
      <string>Uogonek</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>Y.loclGUA</string>
      <string>Yacute.loclGUA</string>
      <string>Ycircumflex.loclGUA</string>
      <string>Ydieresis.loclGUA</string>
      <string>Ydotbelow.loclGUA</string>
      <string>Ygrave.loclGUA</string>
      <string>Yhookabove.loclGUA</string>
      <string>Ymacron.loclGUA</string>
      <string>Ytilde.loclGUA</string>
      <string>A.ss01</string>
      <string>Aacute.ss01</string>
      <string>Abreve.ss01</string>
      <string>Abreveacute.ss01</string>
      <string>Abrevedotbelow.ss01</string>
      <string>Abrevegrave.ss01</string>
      <string>Abrevehookabove.ss01</string>
      <string>Abrevetilde.ss01</string>
      <string>Acaron.ss01</string>
      <string>Acircumflex.ss01</string>
      <string>Acircumflexacute.ss01</string>
      <string>Acircumflexdotbelow.ss01</string>
      <string>Acircumflexgrave.ss01</string>
      <string>Acircumflexhookabove.ss01</string>
      <string>Acircumflextilde.ss01</string>
      <string>Adblgrave.ss01</string>
      <string>Adieresis.ss01</string>
      <string>Adotbelow.ss01</string>
      <string>Agrave.ss01</string>
      <string>Ahookabove.ss01</string>
      <string>Ainvertedbreve.ss01</string>
      <string>Amacron.ss01</string>
      <string>Aogonek.ss01</string>
      <string>Aring.ss01</string>
      <string>Aringacute.ss01</string>
      <string>Atilde.ss01</string>
      <string>germandbls</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>Wacute</string>
      <string>Wcircumflex</string>
      <string>Wdieresis</string>
      <string>Wgrave</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X.001</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Y.001</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ydotbelow</string>
      <string>Ygrave</string>
      <string>Yhookabove</string>
      <string>Ymacron</string>
      <string>Ytilde</string>
      <string>yen</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Z.001</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>Zdotbelow</string>
      <string>Zacute.loclPLK</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>a.001</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>abreveacute</string>
      <string>abrevedotbelow</string>
      <string>abrevegrave</string>
      <string>abrevehookabove</string>
      <string>abrevetilde</string>
      <string>acaron</string>
      <string>acircumflex</string>
      <string>acircumflexacute</string>
      <string>acircumflexdotbelow</string>
      <string>acircumflexgrave</string>
      <string>acircumflexhookabove</string>
      <string>acircumflextilde</string>
      <string>adblgrave</string>
      <string>adieresis</string>
      <string>adotbelow</string>
      <string>agrave</string>
      <string>ahookabove</string>
      <string>ainvertedbreve</string>
      <string>amacron</string>
      <string>aogonek</string>
      <string>aring</string>
      <string>aringacute</string>
      <string>atilde</string>
      <string>ae</string>
      <string>aeacute</string>
    </array>
    <key>public.kern2.exclam</key>
    <array>
      <string>exclamdouble</string>
      <string>exclam.case</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>J</string>
      <string>f</string>
      <string>jdotless</string>
      <string>t</string>
      <string>longs</string>
      <string>f_f</string>
      <string>f_f_i</string>
      <string>f_f_l</string>
      <string>fi</string>
      <string>fl</string>
    </array>
    <key>public.kern2.guilsinglleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilsinglright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>softhyphen</string>
      <string>hyphentwo</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>Nhookleft</string>
      <string>j</string>
      <string>jcircumflex</string>
      <string>nhookleft</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>k</string>
      <string>l</string>
      <string>hbar</string>
      <string>hcircumflex</string>
      <string>hdotbelow</string>
      <string>kcommaaccent</string>
      <string>lacute</string>
      <string>lcaron</string>
      <string>lcommaaccent</string>
      <string>ldot</string>
      <string>lj</string>
      <string>lslash</string>
      <string>thorn</string>
    </array>
    <key>public.kern2.n</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>i</string>
      <string>idotless</string>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>n.001</string>
      <string>p.001</string>
      <string>iacute</string>
      <string>ibreve</string>
      <string>icaron</string>
      <string>icircumflex</string>
      <string>idblgrave</string>
      <string>idieresis</string>
      <string>idotaccent</string>
      <string>idotbelow</string>
      <string>igrave</string>
      <string>ihookabove</string>
      <string>iinvertedbreve</string>
      <string>imacron</string>
      <string>iogonek</string>
      <string>itilde</string>
      <string>ij</string>
      <string>jacute</string>
      <string>kgreenlandic</string>
      <string>nacute</string>
      <string>napostrophe</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>ndotaccent</string>
      <string>nj</string>
      <string>ntilde</string>
      <string>eng</string>
      <string>racute</string>
      <string>rcaron</string>
      <string>rcommaaccent</string>
      <string>rdblgrave</string>
      <string>rdotbelow</string>
      <string>rinvertedbreve</string>
      <string>nacute.loclPLK</string>
      <string>mu</string>
    </array>
    <key>public.kern2.o</key>
    <array>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>g</string>
      <string>o</string>
      <string>q</string>
      <string>y</string>
      <string>c.001</string>
      <string>c.002</string>
      <string>c.003</string>
      <string>c.004</string>
      <string>e.001</string>
      <string>o.002</string>
      <string>q.001</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>ddotbelow</string>
      <string>dz</string>
      <string>eth</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>ecircumflexacute</string>
      <string>ecircumflexdotbelow</string>
      <string>ecircumflexgrave</string>
      <string>ecircumflexhookabove</string>
      <string>ecircumflextilde</string>
      <string>edblgrave</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>edotbelow</string>
      <string>egrave</string>
      <string>ehookabove</string>
      <string>einvertedbreve</string>
      <string>emacron</string>
      <string>eogonek</string>
      <string>etilde</string>
      <string>schwa</string>
      <string>gacute</string>
      <string>gbreve</string>
      <string>gcaron</string>
      <string>gcircumflex</string>
      <string>gcommaaccent</string>
      <string>gdotaccent</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocaron</string>
      <string>ocircumflex</string>
      <string>ocircumflexacute</string>
      <string>ocircumflexdotbelow</string>
      <string>ocircumflexgrave</string>
      <string>ocircumflexhookabove</string>
      <string>ocircumflextilde</string>
      <string>odblgrave</string>
      <string>odieresis</string>
      <string>odieresismacron</string>
      <string>odotaccentmacron</string>
      <string>odotbelow</string>
      <string>ograve</string>
      <string>ohookabove</string>
      <string>ohorn</string>
      <string>ohornacute</string>
      <string>ohorndotbelow</string>
      <string>ohorngrave</string>
      <string>ohornhookabove</string>
      <string>ohorntilde</string>
      <string>ohungarumlaut</string>
      <string>oinvertedbreve</string>
      <string>omacron</string>
      <string>oogonek</string>
      <string>oslash</string>
      <string>oslashacute</string>
      <string>otilde</string>
      <string>otildemacron</string>
      <string>oe</string>
      <string>g_tilde.loclGUA</string>
      <string>cacute.loclPLK</string>
      <string>oacute.loclPLK</string>
      <string>o.001</string>
    </array>
    <key>public.kern2.period</key>
    <array>
      <string>period</string>
      <string>comma</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
      <string>question.case</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>commaturnedmod</string>
    </array>
    <key>public.kern2.quotereversed</key>
    <array>
      <string>commareversedmod</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>apostrophemod</string>
    </array>
    <key>public.kern2.quotesinglbase</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
    </array>
    <key>public.kern2.quotesingle</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>s.001</string>
      <string>s.002</string>
      <string>sacute</string>
      <string>scaron</string>
      <string>scedilla</string>
      <string>scircumflex</string>
      <string>scommaaccent</string>
      <string>sdotbelow</string>
      <string>sacute.loclPLK</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>tbar</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>tcommaaccent</string>
      <string>tdotbelow</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>uacute</string>
      <string>ubreve</string>
      <string>ucaron</string>
      <string>ucircumflex</string>
      <string>udblgrave</string>
      <string>udieresis</string>
      <string>udieresisacute</string>
      <string>udieresiscaron</string>
      <string>udieresisgrave</string>
      <string>udieresismacron</string>
      <string>udotbelow</string>
      <string>ugrave</string>
      <string>uhookabove</string>
      <string>uhorn</string>
      <string>uhornacute</string>
      <string>uhorndotbelow</string>
      <string>uhorngrave</string>
      <string>uhornhookabove</string>
      <string>uhorntilde</string>
      <string>uhungarumlaut</string>
      <string>uinvertedbreve</string>
      <string>umacron</string>
      <string>uogonek</string>
      <string>uring</string>
      <string>utilde</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ydieresis</string>
      <string>ydotbelow</string>
      <string>ygrave</string>
      <string>yhookabove</string>
      <string>ymacron</string>
      <string>ytilde</string>
    </array>
    <key>public.kern2.underscore</key>
    <array>
      <string>underscore</string>
      <string>underscoredbl</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>w</string>
      <string>v.001</string>
      <string>wacute</string>
      <string>wcircumflex</string>
      <string>wdieresis</string>
      <string>wgrave</string>
      <string>y.loclGUA</string>
      <string>yacute.loclGUA</string>
      <string>ycircumflex.loclGUA</string>
      <string>ydieresis.loclGUA</string>
      <string>ydotbelow.loclGUA</string>
      <string>ygrave.loclGUA</string>
      <string>yhookabove.loclGUA</string>
      <string>ymacron.loclGUA</string>
      <string>ytilde.loclGUA</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>X</string>
      <string>x</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zdotbelow</string>
      <string>zacute.loclPLK</string>
    </array>
  </dict>
</plist>
