<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>8 May 26 at 08:35</string>
      <string>glyphs.8 M_ay 26 at 08_35</string>
    </array>
    <array>
      <string>8 May 26 at 07:32</string>
      <string>glyphs.8 M_ay 26 at 07_32</string>
    </array>
    <array>
      <string>2 May 26 at 12:07</string>
      <string>glyphs.2 M_ay 26 at 12_07</string>
    </array>
    <array>
      <string>7 May 26 at 19:06</string>
      <string>glyphs.7 M_ay 26 at 19_06</string>
    </array>
    <array>
      <string>2 May 26 at 11:26</string>
      <string>glyphs.2 M_ay 26 at 11_26</string>
    </array>
    <array>
      <string>2 May 26 at 11:28</string>
      <string>glyphs.2 M_ay 26 at 11_28</string>
    </array>
    <array>
      <string>7 May 26 at 19:10</string>
      <string>glyphs.7 M_ay 26 at 19_10</string>
    </array>
    <array>
      <string>30 Apr 26 at 13:04</string>
      <string>glyphs.30 A_pr 26 at 13_04</string>
    </array>
    <array>
      <string>8 May 26 at 08:37</string>
      <string>glyphs.8 M_ay 26 at 08_37</string>
    </array>
    <array>
      <string>8 May 26 at 08:31</string>
      <string>glyphs.8 M_ay 26 at 08_31</string>
    </array>
    <array>
      <string>2 May 26 at 11:55</string>
      <string>glyphs.2 M_ay 26 at 11_55</string>
    </array>
    <array>
      <string>30 Apr 26 at 13:13</string>
      <string>glyphs.30 A_pr 26 at 13_13</string>
    </array>
    <array>
      <string>7 May 26 at 19:15</string>
      <string>glyphs.7 M_ay 26 at 19_15</string>
    </array>
    <array>
      <string>8 May 26 at 07:29</string>
      <string>glyphs.8 M_ay 26 at 07_29</string>
    </array>
    <array>
      <string>8 May 26 at 07:50</string>
      <string>glyphs.8 M_ay 26 at 07_50</string>
    </array>
    <array>
      <string>1 May 26 at 19:33</string>
      <string>glyphs.1 M_ay 26 at 19_33</string>
    </array>
    <array>
      <string>2 May 26 at 15:07</string>
      <string>glyphs.2 M_ay 26 at 15_07</string>
    </array>
    <array>
      <string>8 May 26 at 07:44</string>
      <string>glyphs.8 M_ay 26 at 07_44</string>
    </array>
    <array>
      <string>1 May 26 at 13:25</string>
      <string>glyphs.1 M_ay 26 at 13_25</string>
    </array>
    <array>
      <string>8 May 26 at 08:28</string>
      <string>glyphs.8 M_ay 26 at 08_28</string>
    </array>
    <array>
      <string>8 May 26 at 08:04</string>
      <string>glyphs.8 M_ay 26 at 08_04</string>
    </array>
    <array>
      <string>2 May 26 at 15:23</string>
      <string>glyphs.2 M_ay 26 at 15_23</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>2 May 26 at 11:16</string>
      <string>glyphs.2 M_ay 26 at 11_16</string>
    </array>
    <array>
      <string>2 May 26 at 11:16/background</string>
      <string>glyphs.2 M_ay 26 at 11_16_background</string>
    </array>
    <array>
      <string>1 May 26 at 14:40</string>
      <string>glyphs.1 M_ay 26 at 14_40</string>
    </array>
    <array>
      <string>1 May 26 at 14:40/background</string>
      <string>glyphs.1 M_ay 26 at 14_40_background</string>
    </array>
    <array>
      <string>2 May 26 at 11:49</string>
      <string>glyphs.2 M_ay 26 at 11_49</string>
    </array>
    <array>
      <string>20 Apr 26 at 08:59</string>
      <string>glyphs.20 A_pr 26 at 08_59</string>
    </array>
    <array>
      <string>20 Apr 26 at 08:59/background</string>
      <string>glyphs.20 A_pr 26 at 08_59_background</string>
    </array>
    <array>
      <string>30 Apr 26 at 14:20</string>
      <string>glyphs.30 A_pr 26 at 14_20</string>
    </array>
    <array>
      <string>3 May 26 at 18:26</string>
      <string>glyphs.3 M_ay 26 at 18_26</string>
    </array>
    <array>
      <string>3 May 26 at 18:26/background</string>
      <string>glyphs.3 M_ay 26 at 18_26_background</string>
    </array>
    <array>
      <string>2 May 26 at 13:51</string>
      <string>glyphs.2 M_ay 26 at 13_51</string>
    </array>
    <array>
      <string>7 May 26 at 18:39</string>
      <string>glyphs.7 M_ay 26 at 18_39</string>
    </array>
    <array>
      <string>30 Apr 26 at 14:20/background</string>
      <string>glyphs.30 A_pr 26 at 14_20_background</string>
    </array>
    <array>
      <string>8 May 26 at 08:41</string>
      <string>glyphs.8 M_ay 26 at 08_41</string>
    </array>
    <array>
      <string>2 May 26 at 15:12</string>
      <string>glyphs.2 M_ay 26 at 15_12</string>
    </array>
    <array>
      <string>2 May 26 at 15:12/background</string>
      <string>glyphs.2 M_ay 26 at 15_12_background</string>
    </array>
    <array>
      <string>8 May 26 at 08:09</string>
      <string>glyphs.8 M_ay 26 at 08_09</string>
    </array>
    <array>
      <string>8 May 26 at 08:09/background</string>
      <string>glyphs.8 M_ay 26 at 08_09_background</string>
    </array>
    <array>
      <string>2 May 26 at 13:59</string>
      <string>glyphs.2 M_ay 26 at 13_59</string>
    </array>
    <array>
      <string>8 May 26 at 08:45</string>
      <string>glyphs.8 M_ay 26 at 08_45</string>
    </array>
    <array>
      <string>8 May 26 at 08:48</string>
      <string>glyphs.8 M_ay 26 at 08_48</string>
    </array>
    <array>
      <string>8 May 26 at 08:54</string>
      <string>glyphs.8 M_ay 26 at 08_54</string>
    </array>
    <array>
      <string>8 May 26 at 08:55</string>
      <string>glyphs.8 M_ay 26 at 08_55</string>
    </array>
  </array>
</plist>
