<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>background</string>
      <string>glyphs.background</string>
    </array>
    <array>
      <string>weight=100,Width=25,XOPQ=180,YOPQ=180</string>
      <string>glyphs.weight=100,W_idth=25,X_O_P_Q_=180,Y_O_P_Q_=180</string>
    </array>
    <array>
      <string>weight=100,Width=25,XOPQ=180,YOPQ=180#1</string>
      <string>glyphs.weight=100,W_idth=25,X_O_P_Q_=180,Y_O_P_Q_=180#1</string>
    </array>
    <array>
      <string>THIN CND 24</string>
      <string>glyphs.T_H_I_N_ C_N_D_ 24</string>
    </array>
  </array>
</plist>
