<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>K</key>
    <string>K_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.001</key>
    <string>a.001.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.001</key>
    <string>c.001.glif</string>
    <key>c.002</key>
    <string>c.002.glif</string>
    <key>c.003</key>
    <string>c.003.glif</string>
    <key>c.004</key>
    <string>c.004.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.001</key>
    <string>e.001.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.001</key>
    <string>p.001.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
  </dict>
</plist>
